* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0;
}

#body {
  background-color: aliceblue;
}

#header {
  display: flex;
}

#title {
  background-color: purple;
  padding: 10px 1%;
  text-align: center ;
  border: 3px solid black;
  margin: 50px auto;
  font-size: 50px;
  color: yellow;
  font-weight: bold;
}

#color-palette {
  text-align: center;
}

#menu {
  padding: 50px 50px 30px 50px;
  display: flex;
  justify-content: center;
}

#pixel-board {
  display: flexbox;
  padding: auto;
  margin: auto;
}

#board-size {
  text-align: center;
  font-size: larger;
  border: 1px solid black;
  padding: 6px 10px 10px 2px;
  border-radius: 5px;
  width: 47px;
}

#refresh-colors {
  font-size: medium;
  border: 1px solid black;
  padding: 8px 18px 8px 18px;
  margin-left: 14px;
  border-radius: 5px;
}

#clear-board {
  font-size: medium;
  border: 1px solid black;
  padding: 8px 18px 8px 18px;
  margin-left: 14px;
  border-radius: 5px;
}

#generate-board {
  font-size: medium;
  border: 1px solid black;
  padding: 8px 18px 8px 18px;
  border-radius: 5px;
}

.color {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 50%;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 1px;
  margin-left: 1px;
  border: 1px solid black;
}

.black {
  display: inline-block;
}

.description {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   padding: 5px;
}

.input-wrapper:hover .descricao {
   display: block;
}

.border {
  border: 4px solid black;
}
