#title {
  text-align: center;
}

#color-palette {
  color: white;
}

#pixel-board {
  position: absolute;
  /* width: 260px; */
  margin-left: 515px;
  margin-top: 40px;
}
#board-size {
  margin-top: 80px;
  margin-left: 515px;
  border: 1px solid black;
  width: 60px;
}

#clear-board {
  border: 1px solid black;
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
}
#generate-board {
  border: 1px solid black;
}

.color {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 1px;
  margin-left: 1px;
  border: 1px solid black;
}
.black {
  margin-left: 510px;
}
