* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0;
}

#body {
  background-color: aliceblue;
}

#settings {
  font-size: medium;
  border: 1px solid black;
  padding: 8px 40px 8px 40px;
  border-radius: 5px;
  margin-top: 50px;
  margin-right: 250px;
  position: absolute;
  right: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  background-color: purple;
  padding: 10px 1%;
  text-align: center ;
  border: 3px solid black;
  margin: 50px auto;
  font-size: 50px;
  color: yellow;
  font-weight: bold;
  border-radius: 10px;
}

#color-palette {  
  position: fixed;
  left: 50%;
  transform: translate(-50%, -40%);
}

#menu {
  padding: 100px 50px 30px 50px;
  display: flex;
  justify-content: center;
}

#pixel-board {
  display: flexbox;
  padding: auto;
  margin: auto;
}

#board-size {
  text-align: center;
  font-size: larger;
  border: 1px solid black;
  padding: 6px 10px 10px 2px;
  border-radius: 5px;
  width: 47px;
}

#previous-colors {
  font-size: medium;
  border: 1px solid black;
  padding: 8px 18px 8px 18px;
  margin-left: 14px;
  border-radius: 5px;
}

#refresh-colors {
  font-size: medium;
  border: 1px solid black;
  padding: 8px 18px 8px 18px;
  margin-left: 14px;
  border-radius: 5px;
}

#clear-board {
  font-size: medium;
  border: 1px solid black;
  padding: 8px 18px 8px 18px;
  margin-left: 14px;
  border-radius: 5px;
}

#generate-board {
  font-size: medium;
  border: 1px solid black;
  padding: 8px 18px 8px 18px;
  border-radius: 5px;
}

#options-menu {
  position: fixed;
  z-index: 1;
  display: none;
  width: 100%;
  background-color: aliceblue;
  border: 1px solid black;
  align-items: center;
  height: 100%;
}

#options {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
}

#background-color{
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

#select-color{
  width: 40px;
  height: 30px;
}

#language {
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

#select{
  font-size: large;
}

#exit {
  font-size: larger;
  border: 1px solid black;
  padding: 8px 18px 8px 18px;
  margin-left: 14px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 100px;
  margin-bottom: 100px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.color {
  width: 60px;
  height: 60px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 50%;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 1px;
  margin-left: 1px;
  border: 1px solid black;
}

.description {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   padding: 5px;
}

.input-wrapper:hover .descricao {
   display: block;
}

.border {
  border: 4px solid black;
}

.border2 {
  border: 4px solid #fff;
}
